@model Chat

@{
	ViewData["Title"] = "Chat";
	Layout = "_HomeLayout";
}

<div class="chat-body">
	<div class="chat-body-title">
		<h2 class="mb-4">@Model.Name</h2>
		<hr class="mb-3" />
	</div>

	<div class="chat" id="chatId">
		@if (Model.Messages.Count() != 0)
		{
			@foreach (var message in Model.Messages)
			{
				<div class="chat-message-block @(message.Name == User.Identity.Name ? "justify-end" : "")">
					<p class="chat-message">@message.Text</p>
				</div>
			}
		}
		else
		{
			<p class="chat-message">Add new Message</p>
		}
	</div>

	<div class="send-message-block">
		<label class="d-flex">
			<textarea class="input input-with-button text-area hide-scroll color-dack-0" type="text" id="textareaId" name="message" placeholder="Message"></textarea>
			<button class="button-with-input button-send-message green-hover color-dack-0" onclick="sendMessage()">Send</button>
		</label>
	</div>
</div>

<script>
	var chat = document.getElementById("chatId");
	chat.scrollTop = chat.scrollHeight;

	function sendMessage(){
		var textarea = document.getElementById("textareaId");
		var newMessage = textarea.value;

		$.ajax({
			type: 'POST',
			url: "@Url.Action("CreateMessage")",
			data: { chatId: @(Model.Id), message: newMessage },
			success: function (data) {
				addMessageToChat(newMessage);
			},
			error: function (err) {
				console.log(err);
			}
		})

		textarea.value = "";
	}

	function addMessageToChat(message) {

		var newP = document.createElement('p');
		newP.className = 'chat-message';
		newP.textContent = message;

		var newDiv = document.createElement('div');
		newDiv.className = 'chat-message-block justify-end';
		newDiv.appendChild(newP);
		
		chat.appendChild(newDiv);
		chat.scrollTop = chat.scrollHeight;
	}

</script>

