@model IEnumerable<Chat>

<div class="chat-menu menu-close" id="menu">
    <div class="opn-menu-block" onclick="openMenu()">
            <img src="~/images/icons/opn-menu-icon.png" />
    </div>

    <div class="chat-menu-body">
        <div class="menu-header mb-4">
            <div class="menu-header-chat-title mb-4">
                <h2>Chats</h2>
                <a class="add-chat-img" asp-controller="Home" asp-action="CreateChat"><img src="~/images/icons/add-chat-icon.png" /></a>
            </div>
            <input class="input" placeholder="Search" />
        </div>

        <div class="menu-content">
            @if (Model != null)
            {
                @foreach (var chat in Model)
                {
                    <div class="menu-content-chat green-hover">
                        <img src="@chat.ImagePath">
                        <a asp-controller="Home" asp-action="Chat" asp-route-id="@chat.Id"><h5>@chat.Name</h5></a>
                        @if (chat.Messages.Count() != 0)
                        {
                            <p class="color-text-1">@(chat.Messages.Last().Name): @(chat.Messages.Last().Text)</p>
                        }
                        else
                        {
                            <p class="color-text-1">no messages</p>
                        }
                    </div>
                }
            }
            else {
                <div class="menu-content-chat">
                    <h5>Add new Chat!</h5>
                </div>
            }
        </div>
    </div>
</div>